@use "../global/mixins" as mixin;

.about {
  padding-block: 40px;
}

.about__wrapper {
  margin-block-end: 36px;
}

.about h2 {
  margin: 0;
  margin-block-end: 12px;
  font-family: var(--alumni);
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
}

.about strong {
  display: block;
  margin-block-end: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.about p {
  margin: 0;
  font-weight: 300;
}

.about p:not(:first-of-type) {
  display: none;
}

.about__media img {
  display: block;
  width: 100%;
  object-fit: cover;
  margin-block-end: 36px;
}

.about__video {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before, &::after {
    @include mixin.pseudo(100%, 100%, rgba(20, 54, 122, 0.5));
    top: 0;
    left: 0;
  }

  &::before {
    display: block;
    background-image: url("../img/about/gym-video-preview.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--base-blue);
  }

  &::after {
    z-index: 2;
  }
}

.about__link {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  &::before {
    @include mixin.pseudo(52px, 52px, var(--cadmium-red));
    border-radius: 50%;
    background: var(--outline-gradient);
  }

  &::after {
    @include mixin.pseudo(72px, 72px);
    border-radius: 50%;
    border: 2px solid var(--base-red);
    opacity: 20%;
  }
}

.about__play-btn {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../img/sprite/play-btn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 5;
}
