@use "../global/mixins" as mixin;

.about {
  padding-block: 40px;

  @include mixin.tablet {
    padding-block: 60px 120px;
    text-align: center;
  }

  @include mixin.desktop {
    grid-column: span 2;
    padding-block: 120px 240px;
    text-align: left;
  }
}

.about__container {
  @include mixin.desktop {
    display: flex;
    column-gap: 145px;
  }
}

.about__wrapper {
  margin-block-end: 36px;

  @include mixin.tablet {
    padding-inline: 80px;
  }

  @include mixin.desktop {
    max-width: 355px;
    padding-inline: 0;
    margin-block-end: 0;
  }
}

.about__title {
  margin-block-end: 12px;
  text-align: left;

  @include mixin.tablet {
    margin-block-end: 20px;
    text-align: center;
  }

  @include mixin.desktop {
    margin-block-end: 25px;
    text-align: left;
  }
}

.about strong {
  display: block;
  margin-block-end: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  @include mixin.tablet {
    font-size: 20px;
    margin-block-end: 36px;
  }

  @include mixin.desktop {
    font-size: 22px;
    line-height: 22px;
    margin-block-end: 95px;
  }
}

.about p {
  margin: 0;

  @include mixin.desktop {
    margin-block-end: 16px;
  }
}

.about p:not(:first-of-type) {
  display: none;

  @include mixin.desktop {
    display: block;
    margin-block-end: 0;
  }
}

.about__media {
  margin-inline: -15px;

  @include mixin.tablet {
    position: relative;
  }
}

.about__media img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-block-end: 36px;

  @include mixin.tablet {
    margin-block-end: 0;
  }
}

.about__video {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include mixin.tablet {
    width: 270px;
    height: 170px;
    position: absolute;
    bottom: -85px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include mixin.desktop {
    width: 360px;
    height: 230px;
    bottom: -115px;
    left: 100px;
  }

  &::before,
  &::after {
    @include mixin.pseudo(100%, 100%, rgba(20, 54, 122, 0.5));
    top: 0;
    left: 0;
  }

  &::before {
    display: block;
    background-image: url("../img/about/gym-video-preview.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--base-blue);
  }

  &::after {
    z-index: 2;
  }
}

.about__link {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  @include mixin.desktop {
    width: 100px;
    height: 100px;
  }

  &::before {
    @include mixin.pseudo(52px, 52px, var(--cadmium-red));
    border-radius: 50%;
    background: var(--outline-gradient);
    transition: background-color 0.5s;

    @include mixin.desktop {
      width: 72px;
      height: 72px;
    }
  }

  &::after {
    @include mixin.pseudo(72px, 72px);
    border-radius: 50%;
    border: 2px solid var(--base-red);
    opacity: 20%;
    transition: border opacity 0.5s;

    @include mixin.desktop {
      width: 100px;
      height: 100px;
    }
  }

  &:hover {
    &::after {
      border-color: rgba(16, 38, 84, 0.6);
    }

    &::before {
      background: none;
      background-color: var(--base-white);
    }
  }

  &:focus {
    &::after {
      border-color: var(--base-blue);
      opacity: 1;
    }

    &::before {
      background: none;
      background-color: #C8C9CC;
    }
  }

  &:active {
    &::after {
      border-color: var(--base-blue);
      opacity: 1;
    }

    &::before {
      background: none;
      background-color: var(--base-white);
    }
  }

  &:disabled {
    &::after {
      border-color: var(--base-blue);
      opacity: 0.5;
    }

    &::before {
      background: none;
      background-color: var(--base-white);
      opacity: 0.5;
    }
  }
}

.about__play-btn {
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 5;

  &::after {
    @include mixin.pseudo(12px, 12px, var(--base-white));
    transition: background-color 0.5s;
    mask: url("../img/sprite/play-btn.svg") no-repeat center;
  }

  @include mixin.desktop {
    width: 17px;
    height: 17px;

    &::after {
      width: 17px;
      height: 17px;
    }
  }
}

.about__link:hover .about__play-btn {
  &::after {
    background-color: rgba(16, 38, 84, 0.6);
  }
}

.about__link:focus .about__play-btn {
  &::after {
    background-color: var(--base-blue);
  }
}

.about__link:active .about__play-btn {
  &::after {
    background-color: var(--base-blue);
  }
}

.about__link:disabled .about__play-btn {
  &::after {
    background-color: var(--base-blue);
    opacity: 0.5;
  }
}
