.button {
  padding: 22px;
  color: inherit;
  background-color: transparent;
  border: 2px solid var(--base-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}
