.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
  color: inherit;
  background-color: transparent;
  border: 2px solid var(--base-white);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;

  &:hover {
    background-color: var(--base-white);
    color: var(--base-accent);
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--base-accent);
    outline: 2px solid var(--base-black);
  }

  &:active {
    background-color: var(--base-white);
    color: var(--base-blue);
  }

  &:disabled {
    opacity: 0.5;
  }

  &--dark {
    border: none;
    box-shadow: 0 0 0 2px var(--base-blue) inset;

    &:hover {
      color: var(--base-white);
      background: var(--outline-gradient);
      box-shadow: none;
    }

    &:focus {
      color: var(--base-white);
      background: var(--outline-gradient);
      box-shadow: none;
      outline: 2px solid var(--base-black);
      opacity: 0.8;
    }

    &:active {
      color: rgb(255, 255, 255, 0.7);
      background: var(--outline-gradient);
      box-shadow: none;
    }

    &:disabled {
      opacity: 0.3;
    }
  }
}
