@use "../global/mixins" as mixin;

.faq {
  padding-block: 70px;
  background-color: var(--secondary-white);

  @include mixin.tablet {
    padding-block: 60px;
  }

  @include mixin.desktop {
    grid-column: span 2;
    padding-block: 100px;
  }
}

.faq__title {
  margin-block-end: 35px;

  @include mixin.tablet {
    margin-block-end: 45px;
  }

  @include mixin.desktop {
    margin-block-end: 50px;
    text-align: left;
  }
}
