@use "../global/mixins" as mixin;

.features {
  padding-block: 40px;
  background-color: var(--secondary-white);

  @include mixin.tablet {
    padding-block: 60px;
  }

  @include mixin.desktop {
    grid-column: span 2;
    padding-block: 100px;
  }
}

.features__title {
  margin-block-end: 40px;

  @include mixin.tablet {
    margin-block-end: 50px;
    padding-inline: 50px;
  }
}

.features__list {
  display: grid;
  row-gap: 35px;
  justify-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

  @include mixin.tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
  }

  @include mixin.tablet {
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 40px;
    align-items: start;
    justify-items: stretch;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  padding-inline: 30px;
  text-align: center;

  @include mixin.tablet {
    flex-direction: row;
    column-gap: 14px;
    padding-inline: 0;
    text-align: left;
  }

  @include mixin.desktop {
    justify-content: space-between;
    align-items: flex-start;
  }

  &--special {
    row-gap: 5px;
    padding-block: 30px 40px;
    padding-inline: 45px;
    margin-inline: -15px;
    margin-block: 5px;
    background-color: var(--secondary-blue);
    color: var(--base-white);

    @include mixin.tablet {
      max-width: 320px;
      flex-direction: column;
      grid-column: span 2;
      row-gap: 25px;
      padding: 35px;
      margin: 0;
      text-align: center;
    }

    @include mixin.desktop {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      align-items: center;
      row-gap: 10px;
      max-width: 360px;
      padding-inline: 40px;
      padding-block: 58px;
      position: relative;

      &::before,
      &::after {
        @include mixin.pseudo(360px, 2px, rgba(209, 10, 66, 0.2));
        top: 50%;
        transform: translateY(-50%);
      }

      &::before {
        right: 400px;
      }

      &::after {
        left: 400px;
      }
    }
  }
}

.features__item span {
  width: fit-content;
  display: flex;
  flex-direction: column;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  background: var(--secondary-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @include mixin.tablet {
    font-size: 70px;
    line-height: 70px;
  }
}

.features__item--special span {
  -webkit-text-fill-color: var(--base-white);
}

.features__item small {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--manchester-blue);

  @include mixin.tablet {
    line-height: 22px;
  }
}

.features__item div {
  @include mixin.desktop {
    max-width: 210px;
  }
}

.features__item h3 {
  margin: 0;
  margin-block-end: 12px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;

  @include mixin.tablet {
    font-size: 20px;
  }

  @include mixin.desktop {
    font-size: 22px;
    line-height: 22px;
    margin-block-end: 8px;
  }
}

.features__item--special h3 {
  margin-block-end: 20px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;

  @include mixin.tablet {
    margin-block-end: 25px;
    font-size: 24px;
    line-height: 24px;
  }

  @include mixin.desktop {
    margin-block-end: 30px;
  }
}

.features__item p {
  margin: 0;
}
