@use "../global/mixins" as mixin;

.footer {
  padding-block: 40px;
  background-color: var(--base-black);
  color: var(--base-white);
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.footer__navigation,
.footer__socials {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__navigation {
  row-gap: 20px;
  column-gap: 35px;
}

.footer__nav-link,
.footer__social-link {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.footer__socials {
  gap: 20px;
}

.footer__social {
}

.footer__social-link {
  display: block;
  width: 25px;
  height: 25px;
  background-color: var(--base-white);
  border-radius: 50%;

  &::after {
    @include mixin.pseudo(25px, 25px, var(--base-black));
    transition: background-color 0.5s;
  }

  &--vk::after {
    mask: url("../img/sprite/vk.svg") no-repeat center;
  }

  &--ok::after {
    mask: url("../img/sprite/ok.svg") no-repeat center;
  }

  &--reddit::after {
    mask: url("../img/sprite/reddit.svg") no-repeat center;
  }
}
