@use "../global/mixins" as mixin;

.form {
  padding-block: 70px;
  background-color: var(--base-blue);

  @include mixin.tablet {
    padding-block: 60px;
  }
}

.form__title {
  color: var(--base-white);
  text-align: left;
  margin-block-end: 36px;

  @include mixin.tablet {
    font-size: 54px;
    line-height: 54px;
    text-align: center;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 36px;

  @include mixin.tablet {
    max-width: 440px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px 30px;
  }
}

.form__input {
  width: 100%;
  padding-block-end: 4px;
  background-color: inherit;
  color: var(--base-white);
  font-family: var(--roboto);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid var(--underline-gray);
}

.form__button {
  color: var(--base-white);

  @include mixin.tablet {
    grid-column: span 2;
  }
}
