@use "../global/mixins" as mixin;

.swiper {
  &--juri {
    width: 227px;
    height: 280px;

    @include mixin.tablet {
      width: 560px;
    }

    @include mixin.desktop {
      width: 1160px;
    }
  }

  &--reviews {
    width: 240px;
    height: auto;

    @include mixin.tablet {
      width: 500px;
    }

    @include mixin.desktop {
      width: 560px;
    }
  }
}

.swiper-button {
  display: none;

  @include mixin.tablet {
    display: block;
    width: 56px;
    height: 56px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    background-color: var(--base-white);

    &::after {
      @include mixin.pseudo(16px, 32px, var(--base-blue));
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mask: url("../img/sprite/arrow.svg") no-repeat center;
    }
  }

  &:hover {
    border: 1px solid var(--base-blue);
  }

  &:focus {
    background-color: var(--price-shadow);
    border: 1px solid var(--base-blue);
  }

  &:active {
    background-color: var(--base-blue);
    border: 1px solid var(--base-blue);

    &::after {
      background-color: var(--base-white);
    }
  }

  &:disabled {
    opacity: 0.3;
  }
}

.swiper-button-prev {
  @include mixin.tablet {
    left: 0;
    top: 234px;
  }
}

.swiper-button-next {
  @include mixin.tablet {
    right: 0;
    top: 234px;
    transform: rotate(180deg);
  }
}
