@use "../global/mixins" as mixin;

.title {
  margin: 0;
  font-family: var(--alumni);
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;

  @include mixin.tablet {
    font-size: 42px;
    line-height: 42px;
  }
}
