@use "../global/mixins" as mixin;

.container {
  box-sizing: border-box;
  width: calc(100% - 30px);
  margin-inline: auto;
  position: relative;

  @include mixin.tablet {
    width: calc(100% - 90px);
  }

  @include mixin.desktop {
    width: calc(100% - 206px);
    max-width: 1366px;
  }
}
