@use "../global/mixins" as mixin;

.container {
  box-sizing: border-box;
  width: 290px;
  margin-inline: auto;
  position: relative;

  @include mixin.tablet {
    width: 678px;
  }

  @include mixin.desktop {
    width: 1160px;
  }
}
