*, ::after, ::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--roboto);
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  background-color: var(--base-white);
  color: var(--base-blue);
  position: relative;
  scrollbar-gutter: stable;
}
