:root {
  // цвета
  --base-white: #FFFFFF;
  --secondary-white: #F8F9FC;
  --base-blue: #102654;
  --secondary-blue: #1C3374;
  --base-black: #030A1A;
  --base-accent: #103AAE;
  --base-red: #ED0233;
  --secondary-red: #D10A42;
  --error-red: #FF121F;
  --pacific-blue: #0041CA;
  --navy-blue: #003EB7;
  --magnus-blue : #003D85;
  --cadmium-red : #B80027;
  --bavarian-blue: #1A3578;
  --pansy-purple: #73184B;
  --additional-blue: #1C3477;
  --additional-red: #B4022A;
  --price-shadow: #E8E8E8;
  --manchester-blue: #2E35AC;
  --underline-gray: #74819C;
  --hover-overlay: rgba(16, 38, 84, 0.89);
  --opacity-blue: rgba(16, 38, 84, 0.2);

  // градиенты
  --main-gradient: linear-gradient(90deg, var(--additional-blue) 0.01%, var(--bavarian-blue) 39.106%, var(--pansy-purple) 75.502%, var(--additional-red) 100%);
  --secondary-gradient: linear-gradient(128.66deg, var(--secondary-red) 0%,var(--pacific-blue) 44%);
  --outline-gradient: linear-gradient(151.36deg, var(--base-red) 6.982%,var(--navy-blue) 116.498%);

  // шрифты
  --roboto: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  --alumni: "Alumni Sans", "Arial", "Helvetica", sans-serif;
}

// Размеры вьюпорта
$tablet-width: 768px;
$desktop-width: 1366px;
// Точки на пиксель
$retina-dppx: 2dppx;
